*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background-color: #22313F;
    height: 12vh;
    overflow: hidden;
}

.logo{
    color: #fff !important;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.logo a{
    color: #fff !important;
}

.logo a:hover{
    color: #fff !important;
}

.navbar a{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    padding: 1rem 1rem;
    transition: all ease-in-out .3s;
}

.navbar a:hover{
    color: rgb(255, 255, 255, .5);
}

.navbar .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 35rem;
}

.wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    height: 100%;
}

.nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav i{
    padding-left: 2rem;
    color: #fff;
}

.ham-menu{
    display: 'none';
}

@media screen and (max-width: 1240px){
    .navbar .container {
        margin-left: 30rem;
    }
}

@media screen and (max-width: 1200px){
    .navbar .container {
        margin-left: 40%;
    }
}

@media screen and (max-width: 1120px){
    .navbar .container {
        margin-left: 30%;
    }
}

@media screen and (max-width: 900px){
    .navbar .container {
        margin-left: 20%;
    }
}

@media screen and (max-width: 780px){
    .navbar .container {
        display: none;
    }

    .ham-menu{
        display: block;
        margin-top: 25px;
    }

    .nav-icons {
        margin-left: 55%;
    }
}

@media screen and (max-width: 640px){
    .nav-icons {
        margin-left: 45%;
    }
}

@media screen and (max-width: 510px) {
    .nav-icons {
        margin-left: 35%;
    }
}