.showcase-home{
    height: 88vh;
    background: url(../assets/Rectangle\ 17.png) center center / cover;
}

.rentals-txt{
    font-size: 20px !important;
    margin-top: 20px;
}

.show-rentals-txt{
    width: 50%;
    background-color: rgba(0, 0, 0, .6);
    padding: 50px;
    margin: 0 10%;
    top: 15%;
}

.show-rentals-txt button {
    margin: 0 !important;
}

@media screen and (max-width: 940px){
    .show-rentals-txt{
        width: 80%;
    }
}

@media screen and (max-width: 700px){
    .show-rentals-txt{
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 370px){
    .show-rentals-txt {
        padding: 40px;
    }

    .showcase-text p {
        font-size: .6em;
    }
}